body{
    margin:0;
    padding: 0;
}
.header{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;

}
 .logo{
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 30px;
    width: 30%;
}
.nav{
    background-color:aquamarine;
    width: 70%;
}
.nav ul{
    display: flex;
    text-decoration: none;
    text-align: center;
    margin-left: 350px;
    height: 50px;
    list-style-type: none;

}
.nav ul li{
    text-decoration: none;
    padding-left: 30px;
    padding-top: 8px
}  
.baner{
    height: 100px;
    background-color:bisque;
    font-weight: 700;
   
    margin-top: 5px;
}
.text-area{
    height: 100px;
    background-color:cornsilk;
    font-weight: 700;
   
    margin-top: 5px;
}
.text{
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.text .box-1,.box-2,.box-3{
    width: 30%;
    background-color:cadetblue;
    margin-right: 3%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}
.text .body{
    width: 67%;
    background-color:lightgreen;
    height: 100px;
    text-align: center;
    padding-top: 50px;

}
.footer{
    background-color:wheat;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}